body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #293462;
    
}
h1{
    /* 100% = 16px = 1em  */
    font-size: 5.625rem; 
    margin: 50px auto 0 auto;
    line-height: 2;
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
}
h2{
    font-family: 'Secular One', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    font-family: 'Secular One', sans-serif;
    color: #11999E;
}
p{
    line-height: 2.5;
}
hr{
    border: dotted #c0c5c9 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}
a{
    color: #314E52;
    font-family: 'Merriweather', serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #ffffff;
}

.top-container{
    background-color: #CCF3EE;
    position: relative;
    padding-top: 100px;
}
.middle-container{
    margin: 100px 0;
}
.bottom-container{
    background-color: #CCF3EE;
    padding: 50px 0 20px;
}

.pro{
    text-decoration: underline;
}
.intro{
    width: 30%;
    margin: auto;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.skill-set-row1{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.skill-set-row2{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.contact-me{
    width: 40%;
    margin: 40px auto 60px;
}
.copyright{
    color: #7d93d1;
}
.btn {
    background: #40E3CC;
    background-image: -webkit-linear-gradient(top, #40E3CC, #2491B1);
    background-image: -moz-linear-gradient(top, #40E3CC, #2491B1);
    background-image: -ms-linear-gradient(top, #40E3CC, #2491B1);
    background-image: -o-linear-gradient(top, #40E3CC, #2491B1);
    background-image: -webkit-gradient(to bottom, #40E3CC, #2491B1);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #FFFFFF;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #33CAED 0;
    background: #16B9C1;
    background-image: -webkit-linear-gradient(top, #16B9C1, #21A1A7);
    background-image: -moz-linear-gradient(top, #16B9C1, #21A1A7);
    background-image: -ms-linear-gradient(top, #16B9C1, #21A1A7);
    background-image: -o-linear-gradient(top, #16B9C1, #21A1A7);
    background-image: -webkit-gradient(to bottom, #16B9C1, #21A1A7);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-decoration: none;
 }